<nz-table #basicTable [nzData]="listOfData">
  <thead>
  <tr>
    <th>Title</th>
    <th>Details</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.title }}</td>
    <td>{{ data.details }}</td>
    <td>
      <a routerLink="../edit/{{data.id}}">Edit</a>
      <nz-divider nzType="vertical"></nz-divider>
      <button *ngIf="data.id" nz-popconfirm nzPopconfirmTitle="Are you sure?" nzOkText="ok"
              nzCancelText="cancel" (nzOnConfirm)="delete(data.id)" nz-button class="ant-btn ant-btn-primary">Delete</button>
    </td>
  </tr>
  </tbody>
</nz-table>
<button routerLink="/add" nz-button nzType="primary">Add</button>
